.courses-and-certificates {
    padding: 20px;
  }
  
  .courses-and-certificates form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .courses-and-certificates label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .courses-and-certificates input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .courses-and-certificates .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #646cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #535bf2;
    border: 2px solid black;
  }
  
  .courses-and-certificates .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .course-list {
    margin-top: 20px;
  }
  
  .course-entry {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  }
  
  .course-entry .entry-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .course-entry .entry-content p {
    margin: 0;
  }
  
  .course-entry .entry-buttons {
    display: flex;
    gap: 5px;
  }
  
  .course-entry .entry-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: #535bf2;
    font-weight: bold;
    cursor: pointer;
  }
  
  .course-entry .entry-buttons button:hover {
    background-color: white; /* Change color on hover */
  border: 2px solid #535bf2;
  }
  