.cv-preview {
  grid-column: 2 / 3;
  background: #ffffff;
  border: 2px solid red; /* Sadece cv-preview için kenarlık */
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.general-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.general-info-name {
  font-size: 2em;
  font-weight: bold;
}

.general-info-title {
  font-size: 1.2em;
}

.icon-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-text {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.cv-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.cv-section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border: none;
}

.cv-section .cv-entry {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 10px 0;
}

.icon-text, .cv-link {
  padding: 2px;
}

h3 {
  margin: 10px 0;
  text-align: center;
}

.cv-section ul {
  display: flex;
  list-style-type: none; 
  padding: 0;
  margin: 0 20px;
  flex-wrap: wrap;
  gap: 10px;

}

.cv-section li {
  padding: 5px;
  margin-top: 10px;
  background-color: #000;
  width: 10%;
  height: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cv-entry {
  display: flex;
  justify-content: space-between;
}

.cv-entry-dates {
  display: flex;
}

.cv-entry-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.cv-link a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 0;
}

.cv-link a:hover {
  color: #646cff;
  text-decoration: none;
}

.cv-entry-field {
  margin: 0 20px;
}

.cv-entry-dates-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-entry-dates {
  margin-bottom: 10px;
}

.cv-entry-field {
  margin-bottom: 5px;
}

.cv-preview .cv-entry{
  display: flex;
  justify-content: space-around;
}

.cv-entry-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-1,
.professional-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-2,
.professional-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.degree,
.description,
.country,
.company,
.title{
  font-weight: bold;
}



@media (max-width: 768px) {
  .cv-preview {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .general-info-container {
    margin: 10px;
  }

  .cv-section {
    padding: 0 10px;
  }
}
