.educational-experience {
    padding: 20px;
  }
  
  .educational-experience form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .educational-experience label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .educational-experience input,
  .educational-experience textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .educational-experience textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .educational-experience .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: 2px solid #535bf2;
    border-radius: 5px;
    background-color: white;
    color: #535bf2;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #535bf2;
    border: 2px solid #535bf2;
  }
  
  .educational-experience .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .education-list {
    margin-top: 20px;
  }
  
  .education-entry {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  }
  
  .education-entry .entry-content {
    display: flex; 
    overflow: hidden;
    gap: 5px;
  }
  
  .education-entry .entry-content p {
    margin: 0;
  }
  
  .education-entry .entry-buttons {
    display: flex;
    gap: 5px;
  }
  
  .education-entry .entry-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: #535bf2;
    font-weight: bold;
    cursor: pointer;
  }
  
  .education-entry .entry-buttons button:hover {
    background-color: white;
    border: 2px solid #535bf2;
    color: #535bf2;
  }
  
  .entry-content {
    flex: 1; /* Takes up remaining space */
    display: flex;
    gap: 5px;
  }

  .h3{
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-bottom: 3px solid rebeccapurple;
    border-radius: 10px;
  }

  h3{
    margin: 0;
    padding: 0;
  }

  .download-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }

  .icon-section{
    margin: 0 25px;
  }