.general-info{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.general-info p{
  display: flex;
  justify-content: center;
}

.general-info .radio-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
}

.general-info input{
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.link-entry{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: black;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
}

.link-details{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.link-details a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.link-details a:hover{
  color: blue;
}

.link-details svg{
  cursor: pointer;
  width: 24px;
  height: 32px;
}

.link-details svg:hover{
  color: blue;
}