.skills {
    padding: 20px;
  }
  
  .skills form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skills label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skills input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .skills .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: 2px solid #535bf2;
    border-radius: 5px;
    background-color: #646cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #535bf2;
    border: 2px solid black;
  }
  
  .skills-list {
    margin-top: 20px;
  }
  
  .skill-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skill-entry p {
    margin: 0;
  }
  
  .skill-entry .entry-buttons {
    display: flex;
    gap: 5px;
  }
  
  .skill-entry .entry-buttons button {
    padding: 10px 20px;
    border: 2px solid #535bf2;
    border-radius: 5px;
    background-color: #646cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .skill-entry .entry-buttons button:hover {
    background-color: #535bf2;
    border: 2px solid black;
  }
  